class LetterSelector extends React.Component {
  componentDidMount() {
    webgazer.setGazeListener(data => {
      if (data != null) {
        const twoBlinksOnLet = _.magic(data, this.props);
        if (twoBlinksOnLet) {
          this.props.selectLetter();
        }
      }
    });
  }

  componentWillReceiveProps(nextProps) {
    const { started: willStart } = nextProps;
    const { started } = this.props;
    if (!started && willStart) {
      webgazer.resume();
    } else if (started && !willStart) {
      webgazer.pause();
    }
  }

  componentWillUnmount() {
    webgazer.clearGazeListener().pause();
  }

  render() {
    return null;
  }
}
