function loop() {
  var gazeData = getPrediction();
  var elapsedTime =
    performance.now() - clockStart;

  callback(gazeData, elapsedTime);

  if (gazeData && showGazeDot) {
    smoothingVals.push(gazeData);
    var x = 0;
    var y = 0;
    var len = smoothingVals.length;
    for (var d in smoothingVals.data) {
      x += smoothingVals.get(d).x;
      y += smoothingVals.get(d).y;
    }
    var pred = webgazer.util.bound({
      x: x / len,
      y: y / len
    });
    gazeDot.style.transform =
      "translate3d(" +
      pred.x +
      "px," +
      pred.y +
      "px,0)";
  }

  if (!paused) {
    requestAnimationFrame(loop);
  }
}